// TYPE: BUTTON

&.button-google
  @extend .button-filled
  // styling
  background: #3b81ed
  // text
  color: #fff
  med-16()

  img // google icon
    width: 30px
    height: 30px
    padding: 5px
    border-radius: 5px
    background-color: #fff
    