// LAYOUT

.button
  Text-Overflow()
  // grid 
  display: grid
  align-items: center
  justify-content: center
  grid-auto-flow: column
  
  i // icon
    color: inherit
    Icon-Font('4R-icons')

  // STATE: DISABLED

  &:disabled
    opacity: .4
    cursor: default

