// LAYOUT

.button
  // grid 
  display: grid
  align-items: center
  justify-content: center
  grid-auto-flow: column
  text-overflow()
  
  i // icon
    color: inherit
    icon-4R()

  // STATE: DISABLED

  &:disabled
    opacity: .4
    cursor: default
