*
  padding: 0
  margin: 0
  background: none
  border: none
  outline: none
  box-sizing: border-box

html
  font-size: 10px

body
  overflow-x: hidden 

h1,h2,h3,h4,h5,h6,p,a,i,b,span,button,input,textarea
  font-family: inherit
  font-weight: inherit
  font-style: normal
  text-align: inherit
  text-decoration: none

button
  cursor: pointer

textarea
  resize: none

img
  display: block