// CARD CHILD: PICTURE LAYOUT

.card_picture
  overflow: hidden
  aspect-ratio 1
  height: 100%

  img // picture
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center


// CARD CHILD: PICTURE STYLE

.card_picture
  border-radius: 5px
  background: $block-foreground