// CARD CHILD: TEXT LAYOUT

.card_text
  overflow: hidden
  // flex
  flex-grow: 1
  display: flex
  flex-direction: column


.card_title,
.card_subtitl
  flex-grow: 1
  Text-Overflow()


.card_icon
  Icon-Font('4R-icons')


// CARD CHILD: TEXT STYLE

.card_title
  color: $text-secondary


.card_subtitle
  color: $text-paragraph

  
.card_icon
  color: $text-label

