.sheet
  width: 100%
  height: 100%
  background: $bg-sheet
  // flex
  display: flex
  flex-direction: column-reverse


.sheet_body
  background: $dark-10
  margin-top: 40px
  padding: 40px 15px 20px
  border-radius: 20px 20px 0 0
  // sizing 
  height: max-content
  max-height: stretch
  // position
  position: relative
  // grid
  gap: 20px
  display: grid
  grid-template-rows: max-content 1fr max-content


.sheet_content
  padding: 10px 0
  overflow-y: overlay
  // grid
  gap: 20px
  display: grid


.sheet_thumb
  width: 100%
  height: 40px
  // position
  position: absolute
  top: 0
  left: 0
  // icon
  &::before 
    content: ""
    width: 80px
    height: 4px
    border-radius: 4px
    background: $dark-18
    // position
    position: absolute
    top: 20px
    left: 50%
    transform: translate(-50%)


// MOZILLA FIX


@-moz-document url-prefix()

  .sheet_body
    max-height: calc(100% - 40px) !important
    
  .sheet_content
    overflow: auto !important