// TEXT LAYOUT
  
.listText
  cursor: pointer
  // grid 
  display: grid
  grid-auto-rows: max-content

  // STATE: CLOSED
  
  &-closed .listText_button
    transform: rotate(180deg)


// HEADING

.listText_heading
  overflow: hidden
  // flex
  display: flex
  align-items: center

  .listText_hint
    flex-grow: 1

  .listText_button
    flex-shrink: 0

  
.listText_title
  text-overflow()
  

.listText_button
  icon-4R()
  // animation
  transition(transform, .2s)
