// CHILD: INPUT LAYOUT

.counter_input
  aspect-ratio: 2/1
  width: stretch
  height: inherit
  border-radius: inherit
  // text
  text-align: center


// CHILD: INPUT STYLE

.counter_input
  color: $text-paragraph
  background: $block-foreground
  
