// COUNTER LAYOUT
  
.counter
  width: max-content
  // grid
  display: grid
  grid-auto-flow: column
  grid-auto-columns: max-content


// COUNTER STYLE

.counter
  gap: 5px
  height: 20px
  border-radius: 5px
