// COUNTER
  
.counter
  width: max-content
  // grid
  display: grid
  grid-auto-flow: column
  grid-auto-columns: max-content


// CHILD: BUTTON 

.counter_button
  aspect-ratio: 1
  height: inherit
  border-radius: inherit
  // grid
  display: grid
  place-items: center
  // icon
  icon-4R()


// CHILD: INPUT

.counter_input
  aspect-ratio: 2/1
  width: stretch
  height: inherit
  border-radius: inherit
  // text
  text-align: center
