// INPUT CHILDS LAYOUT

.input_icon
  Icon-Font('4R-icons')

.input_entry
  width: 100%


// INPUT CHILDS STYLE

.input_icon
  color: $text-label

  &-primary
    font-size: 20px

  &-secondary
    font-size: 14px


.input_entry
  color: $text-secondary
  med-16()

  &::placeholder
    color: $text-paragraph


.input_hint
  color: $text-label
  med-12()
