// INPUT LAYOUT
  
.input
  overflow: hidden
  // flex
  display: flex
  align-items: center
  // animation
  Transition(background, .2s)

  &_entry
    flex-grow: 1


// INPUT STYLE

.input 
  height: 50px
  gap: 15px
  padding: 15px
  border-radius: 10px
  background: $field-background
  Outline($field-outline, 1px)

  //state: focused
  &-focused
    background: $field-focus


