// INPUT LAYOUT
  
.input
  // flex
  display: flex
  align-items: center

  .input_entry
    flex-grow: 1

  // animation
  transitions(background, .2s)


// INPUT STYLE

.input 
  height: 50px
  gap: 15px
  padding: 15px
  border-radius: 10px
  background: $dark-15
  box-shadow: $dark-15 0 0 0 1px inset
  overflow: hidden

  // input state: focused

  &-focused
    background: $dark-12


