// INPUT CHILDS LAYOUT

.input_icon
  icon-4R()

.input_entry
  width: 100%


// INPUT CHILDS STYLE

.input_icon
  color: $light-50

  &-primary
    font-size: 20px

  &-secondary
    font-size: 14px


.input_entry
  color: $light-70 
  med-16()

  &::placeholder
    color: $light-60


.input_hint
  color: $light-50
  med-12()
