// INPUT LAYOUT
  
.input
  // flex
  display: flex
  align-items: center

  .input_entry
    flex-grow: 1

  // animation
  transition(background, .2s)


// CHILDS

.input_icon
  icon-4R()

.input_entry
  width: 100%