// CARD CHILD: TEXT LAYOUT

.card_text
  overflow: hidden
  // flex
  flex-grow: 1
  display: flex
  flex-direction: column


.card_title,
.card_subtitl
  flex-grow: 1
  text-overflow()


.card_icon
  icon-4R()


// CARD CHILD: TEXT STYLE

.card_title
  color: $light-70


.card_subtitle
  color: $light-60

  
.card_icon
  color: $light-50

