// CHILD: BUTTON LAYOUT

.counter_button
  aspect-ratio: 1
  height: inherit
  border-radius: inherit
  // grid
  display: grid
  place-items: center
  // icon
  icon-4R()


// CHILD: BUTTON STYLE
  
.counter_button
  font-size: 10px

.counter_button-minus
  color: $accent-red
  background: alpha(@color, .2)

.counter_button-plus
  color: $accent-green
  background: alpha(@color, .2)
