// BODY STYLES

body
  background: hsb(0, 0, 2)
  font-family: 'Inter', sans-serif
  
  // scrollbar
  &::-webkit-scrollbar
    width: 5px
  &::-webkit-scrollbar-track
    margin-block: 15px
  &::-webkit-scrollbar-thumb
    border-radius: 10px 0 0 10px
    background-color: $block-background


// VIEWPORT

.viewport
  max-width: 450px
  margin: 0 auto


// CONTAINERS 

.section
  gap: 15px 
  // grid
  display: grid
  grid-auto-rows: max-content

// TEMPORARY
    
.sheet_tempBlock
  height: 100px
  background: $block-background
  border-radius: 10px


.components
  gap: 15px
  display: grid
  grid-auto-rows: max-content
  

button
  -webkit-tap-highlight-color: transparent
  // animation
  Transition(transform \, background, 100ms, linear)
  
  // action: click
  &:active
    transform: scale(.97)