.button
  width: 100%
  min-height: 50px
  border-radius: 10px
  background: $light-80
  user-select: none
  // text
  color: black
  mix-blend-mode: screen
  @include semi-16
  // grid
  gap: 10px
  display: grid
  grid-auto-flow: column
  align-items: center
  justify-content: center
  // disabled state
  &:disabled
    opacity: .4
    cursor: default


.button-google
  color: #fff
  background: #3b81ed
  // google icon
  &::before
    content: ""
    background-size: 18px
    background-color: #fff
    background-repeat: no-repeat
    background-position: center center
    background-image: url(~/assets/icons/google.svg)
    width: 30px
    height: 30px
    border-radius: 5px