.checkBox
  width: 20px
  min-width: 20px
  height: 20px
  border-radius: 5px
  background: $dark-15
  cursor: pointer
  // grid
  display: grid
  place-items: center
  // animation
  @include transition(background, .15s)
  // checkbox check
  &::before
    font-family: "4R-icons"
    content: "check"
    font-size: 0
    color: $accent-green
    // animation
    @include transition(font-size, .15s)

// TYPES

.checkBox-round
  border-radius: 100%

// STATES

.checkBox-active
  background: transparentize($accent-green, .8)
  &::before
    font-size: 10px

.checkBox-fail
  &::before
    content: "cross"
    color: $accent-red
  &.checkBox-active
    background: transparentize($accent-red, .8)

