.switch
  width: 45px
  min-width: 45px
  height: 25px
  border-radius: 25px
  background: $dark-15
  cursor: pointer
  position: relative
  // flex
  display: flex
  align-items: center
  // animation
  @include transition((background, width), .15s)
  // switch thumb
  &::before
    content: ""
    width: 15px
    height: 15px
    border-radius: 100%
    background: $dark-50
    position: relative
    left: 5px
    // animation
    @include transition((background, left), .15s)

.switch-active
  background: transparentize($green, .8)
  &::before
    background: $green
    left: calc((100% + 5px) / 2)
