// HEADER LAYOUT
  
.listHeader
  cursor: pointer
  overflow: hidden
  // flex
  display: flex

  .listHeader_title
    flex-grow: 1

  // STATE: CLOSED

  &-closed .listHeader_button
    transform: rotate(180deg)


// CHILDS

.listHeader_title
  text-overflow()


.listHeader_button
  transition(transform, .2s)