// HEADER STYLE
  
.listHeader
  gap: 15px
  padding: 15px
  background: $dark-15


// CHILDS

.listHeader_title
  // text
  color: $light-70
  med-14()


.listHeader_button
  font-size: 12px
  color: $light-50
  icon-4R()

  