// ----------------
// LIST ITEM LAYOUT
// ----------------

.listItem
  width: stretch
  // grid
  display: grid
  // animation
  Transition(background, .2s)


// ---------------
// LIST ITEM STYLE
// ---------------

.listItem

  min-height: 50px
  gap: 5px
  padding: 15px
  background: $block-background

  // action: click
  &:active
    background $block-highlight
  
  // state: active
  &-active 
    background $block-highlight

  // state: closed
  &-closed
    .listItem_toggle
      transform: rotate(180deg)

