// TEXTAREA LAYOUT
  
.textarea
  overflow: hidden
  // grid
  display: grid
  grid-auto-rows: max-content
  // animation
  transitions(background \, height, .2s)

  &-closed

    .textarea_entry
      opacity: 0

    .textarea_button
      transform: rotate(180deg)


// TEXTAREA STYLE
  
.textarea
  gap: 5px
  padding: 15px
  border-radius: 10px
  background: $dark-15
  box-shadow: $dark-15 0 0 0 1px inset 
  overflow: hidden

  // STATE: FOCUSED

  &-focused
    background: $dark-12

  // STATE: CLOSED

  &-closed
    height: 50px
