// TEXTAREA LAYOUT
  
.textarea
  overflow: hidden
  // grid
  display: grid
  grid-auto-rows: max-content
  // animation
  Transition(background \, height, .2s)

  // state: closed
  &-closed

    .textarea_entry
      opacity: 0

    .textarea_button
      transform: rotate(180deg)

// TEXTAREA STYLE
  
.textarea
  gap: 5px
  padding: 15px
  border-radius: 10px
  background: $field-background
  Outline($field-outline, 1px)

  // state: focused
  &-focused
    background: $field-focus

  // state: closed
  &-closed
    height: 50px
