// ITEM LAYOUT 
  
.listItem
  cursor: pointer
  // grid 
  display: grid
  grid-auto-rows: max-content
  // animation
  transition(background, .2s)


// HEADING

.listItem_heading
  overflow: hidden
  // flex
  display: flex
  align-items: center
  
.listItem_title
  text-overflow()
  // flex
  flex-grow: 1

.listItem_hint
  // flex
  display: flex
  align-items: center

  i // icon
    icon-4R()
