// ITEM STYLE

.listItem
  row-gap: 5px
  padding: 15px
  background: $dark-15

  // STATE: ACTIVE

  &-active
    background: $dark-18


// HEADING

.listItem_heading
  gap: 15px
  height: 20px

.listItem_title
  color: $light-70
  med-16()

.listItem_hint
  color: $light-50
  gap: 5px
  med-12()

  i // icon
    font-size: 14px

  
// CONTENT

.listItem_description
  color: $light-60
  text-14() 