// LABEL LAYOUT
  
.label
  text-overflow()
  // flex
  display: flex
  align-items: center

  i // icon
    icon-4R()


// LABEL STYLE

.label
  gap: 5px
  height: 20px
  // text
  color: $light-50
  med-14()

  i // icon
    font-size: 10px
    color: inherit