// LABEL LAYOUT
  
.label
  Text-Overflow()
  // flex
  display: flex
  align-items: center

  i // icon
    Icon-Font('4R-icons')


// LABEL STYLE

.label
  gap: 5px
  height: 20px
  // text
  color: $text-label
  med-14()

  i // icon
    font-size: 10px
    color: inherit