// TITLE LAYOUT
  
.title
  overflow: hidden
  // flex
  display: flex
  align-items: center

  .title_text
    flex-grow: 1


.title_text
  color: inherit
  Text-Overflow()


.title_button
  height: inherit
  aspect-ratio: 1
  // grid
  display: grid
  place-items: center
  // icon
  Icon-Font('4R-icons')


// TITLE STYLE

.title
  gap: 20px
  height: 25px
  color: $text-secondary


.title_text
  semi-18()

  
.title_button
  font-size: 14px
  color: $text-label

  
