// TITLE LAYOUT
  
.title
  overflow: hidden
  // flex
  display: flex
  align-items: center

  .title_text
    flex-grow: 1


.title_text
  color: inherit
  text-overflow()


.title_button
  height: inherit
  aspect-ratio: 1
  // grid
  display: grid
  place-items: center
  // icon
  icon-4R()


// TITLE STYLE

.title
  gap: 20px
  height: 25px
  color: $light-70


.title_text
  semi-18()

  
.title_button
  font-size: 14px
  color: $light-50

  
