// STYLUS COLOR MAPPING

$body-background = var(--body-background)
$body-foreground = var(--body-foreground)

// sections
$tabbar-background = var(--tabbar-background)
$header-background = var(--header-background)
$footer-background = var(--footer-background)


// block colors
$block-background = var(--block-background)
$block-foreground = var(--block-foreground)
$block-highlight = var(--block-highlight)

// hint
$hint-background = var(--hint-background)
$hint-outline = var(--hint-outline)

// tag colors
$tag-background = var(--tag-background)
$tag-focus = var(--tag-focus)
$tag-outline = var(--tag-outline)

// field colors
$field-background = var(--field-background)
$field-focus = var(--field-focus)
$field-outline = var(--field-outline)

// text colors
$text-primary = var(--text-primary)
$text-secondary = var(--text-secondary)
$text-paragraph = var(--text-paragraph)
$text-label = var(--text-label)