// AUTH SECTION: TEXT LAYOUT

.auth_text
  // grid
  display: grid
  grid-auto-rows: max-content
  align-content: end


.auth_title,
.auth_subtitle
  text-align: center


// AUTH SECTION: TEXT STYLE

.auth_text
  gap: 15px


.auth_title
  font-weight: $w-bold
  font-size: 30px
  line-height: 1.2
  color: white


.auth_subtitle
  color: $light-80
  font-weight: $w-med
  font-size: 16px
  line-height: 1.4
