// HUGE STYLE
  
.card-huge
  height: 100px
  gap: 10px
  padding: 10px 20px 10px 10px

  // CHILDS

  .card_text
    gap: 10px


  .card_title
    semi-18()
    

  .card_subtitle
    med-14()
    

  .card_icon
    font-size: 18px