// LARGE STYLE

.card-large
  height: 80px
  gap: 10px
  padding: 10px 20px 10px 10px
 
  // CHILDS

  .card_text
    gap: 10px


  .card_title
    semi-16()
    

  .card_subtitle
    med-12()
    

  .card_icon
    font-size: 16px


  // TYPE: NESTED

  &-nested
    height: 70px
    padding: 10px 20px 10px 15px

  // TYPE: DESCRIBED

  &-described
    height: 90px
    gap: 15px
    padding: 15px 20px

    .card_text
      gap: 5px

    .card_subtitle
      text-14()
      text-overflow(2)

