// AVATAR CHILD: PICTURE LAYOUT

.avatar_picture
  aspect-ratio: 1
  overflow: hidden

  img
    object-fit: cover
    width: 100%
    height: 100%


// AVATAR CHILD: PICTURE STYLE

.avatar_picture
  height: 100px
  margin-bottom: 5px
  border-radius: 100%
  background: $dark-15