// HEADER_BUTTON LAYOUT
  
.header_button
  aspect-ratio: 1/1
  border-radius: 100%
  margin-left: auto
  // grid
  display: grid
  place-items: center
  // icon
  Icon-Font('4R-icons')

// HEADER_BUTTON STYLE

.header_button
  height: 25px
  background: $block-background
  // icon
  font-size: 10px
  color: $text-label