// HEADER LAYOUT

.header
  overflow: hidden
  // flex
  display: flex
  align-items: center

  &_text
    color: inherit
    Text-Overflow()

  &_icon
    color: inherit
    Icon-Font('4R-icons')


// HEADER STYLE
  
.header
  gap: 10px
  color: $text-primary

  &_text
    semi-20()

  &_icon
    font-size: 18px