// LAYOUT
  
.switch
  border-radius: 100px
  // grid
  display: grid
  align-items: center
  // animation
  transition(background, .2s)

  &::before // dot
    content: ""
    aspect-ratio: 1
    border-radius: 100%
    // position
    left: 0
    position: relative
    // animation
    transition(background \, left, .15s)