// LAYOUT
  
.switch
  border-radius: 100px
  // grid
  display: grid
  align-items: center
  // animation
  Transition(background, .2s)

  &::before // dot
    content: ""
    aspect-ratio: 1
    border-radius: 100%
    // position
    left: 0
    position: relative
    // animation
    Transition(background \, left, .15s)

    
// SWITCH STYLE
  
.switch
  $active-color = $accent-green

  //state: default
  height: 25px
  padding: 5px
  width: @height * 2 - @padding
  background: $block-foreground

  &::before // dot 
    height: @height - @padding * 2 
    background: $text-label

  // state: active
  &-active
    background: alpha($active-color, .2)

  &-active::before // dot 
      background: $active-color
      // position
      left: @height - @padding