// PRESETS

@import 'presets/reset'
@import 'presets/functions'
@import 'presets/mixins'

// STYLES

@import 'styles/variables'
@import 'styles/fonts'
@import 'styles/icons'
@import 'styles/colors'

// text styles
@import 'styles/text/header'
@import 'styles/text/title'
@import 'styles/text/subtitle'
@import 'styles/text/text'

// LAYOUT

@import 'layout/layout'

// COMPONENTS

// text components
@import 'components/text/title'
@import 'components/text/paragraph'
@import 'components/text/label'

@import 'components/text/header/layout'
@import 'components/text/header/style'

// controls
@import 'components/controls/button/layout'
@import 'components/controls/button/filled'
@import 'components/controls/button/texted'

@import 'components/controls/checkbox/layout'
@import 'components/controls/checkbox/style'

@import 'components/controls/radiobutton/layout'
@import 'components/controls/radiobutton/style'

@import 'components/controls/switch/layout'
@import 'components/controls/switch/style'

@import 'components/controls/counter/layout'
@import 'components/controls/counter/style'

// fields
@import 'components/fields/input/layout'
@import 'components/fields/input/style'

@import 'components/fields/textarea/layout'
@import 'components/fields/textarea/style'

// list components
@import 'components/list/header/layout'
@import 'components/list/header/style'

@import 'components/list/text/layout'
@import 'components/list/text/style'

@import 'components/list/item/layout'
@import 'components/list/item/style'

// cards
@import 'components/card/layout'
@import 'components/card/style'

@import 'components/card/size/huge'
@import 'components/card/size/large'
@import 'components/card/size/medium'

// cells
@import 'components/cell/layout'
@import 'components/cell/style'

@import 'components/cell/type/row/layout'
@import 'components/cell/type/row/style'

@import 'components/cell/type/column/layout'
@import 'components/cell/type/column/mixin'
@import 'components/cell/type/column/style'

@import 'components/cell/type/table/layout'
@import 'components/cell/type/table/style'

// SECTIONS

@import 'sections/tabbar/layout'
@import 'sections/tabbar/style'

@import 'sections/avatar/layout'
@import 'sections/avatar/style'

@import 'sections/cells/cells'
@import 'sections/cells/containers'

// MODALS

@import 'modals/sheet/layout'
@import 'modals/sheet/style'
@import 'modals/sheet/child'

// PAGES

@import 'pages/auth/layout'
@import 'pages/auth/style'
