// SAVING THROWS LAYOUT

.savingThrows
  justify-items: center

  .grid
    width: stretch

// SAVING THROWS STYLE

// cell styles overwrite

.savingThrows .cell
  gap: 6px
  height: 60px

  .cell_heading
    gap: 5px
    semi-10()

  .cell_values-marked
    gap: 2.5px

  .cell_value-primary
    bold-18()

