// SENSES LAYOUT

.senses
  justify-items: center

  .grid
    width: stretch

// SENSES STYLE

// cell styles overwrite

.senses .cell
  gap: 8px
  height: 60px

  .cell_heading
    gap: 5px
    semi-10()

  .cell_value-primary
    bold-18()


