.cell
  border-radius: 10px
  background: $dark-15

// CELL STYLE MIXIN

@mixin cellStyles($cellHeight: 60px, $cellGap: 10px, $titleSize: 12px, $iconSize: 12px, $primarySize: 22px, $primaryWeight: $bold, $secondarySize: 14px, $secondaryHeight: 115%, $markGap: 5px)
  height: $cellHeight
  gap: $cellGap
  // 
  .cell_title
    font-size: $titleSize
  // 
  .cell_icon
    font-size: $iconSize
  // 
  .cell_input
    font-size: $primarySize
  // 
  .cell_value_primary
    font-size: $primarySize
    font-weight: $primaryWeight
  //
  .cell_value_secondary
    font-size: $secondarySize
    line-height: $secondaryHeight
  // 
  .cell_value-marked
    gap: $markGap






