.cell_input
  width: 100%
  height: 100%
  border-radius: 5px
  background: $dark-12
  // text
  color: $light-80
  font-weight: $w-bold
  line-height: 100%
  text-align: center
  // 
  &::placeholder
    color: $light-50