.cell-row
  padding: 0 15px
  // grid
  display: grid
  grid-template-columns: 1fr max-content
  // styles
  @include cellStyles($cellHeight: 50px, $iconSize: 14px, $primarySize: 14px, $primaryWeight: $semi, $secondarySize: 14px)