// CELL-TABLE LAYOUT

.cell-table
  // flex
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  // HEADING
  
  .cell_heading
    justify-content: center

  // CELL TABLE

  .cell_table
    width: 100%
    overflow: hidden
    // flex
    display: flex
    flex-direction: column

  .cell_group
    // flex
    display: flex
    flex-direction: column

  .cell_modifier
    // flex
    display: flex
    align-items: center

  // CELL ROW
  
  .cell_row
    // flex
    display: flex
    align-items: center

  .cell_text
    text-overflow()