// CELL-TABLE STYLE
  
.cell-table
  gap: 10px
  padding: 15px 5px 5px

  // CELL HEADING

  .cell_heading
    gap: 5px
    font-size: 12px

  // CELL TABLE

  .cell_table
    gap: 3px
    border-radius: 5px

  .cell_group,
  .cell_modifier
    gap: 10px
    padding: 10px
    border-radius: 3px
    background: $dark-12 

  // CELL ROW 
    
  .cell_data
    color: $light-70
    semi-14()


  .cell_text
    color: $light-60
    med-12()

  // CELL ROW
    
  .cell_row
    gap: 10px