// CELL-COLUMN LAYOUT

.cell-column
  // flex
  display: flex
  align-items: center
  justify-content: center
  flex-direction: column

  // HEADING

  .cell_heading
    justify-content: center

  // INPUT

  .cell_input
    height: 100%
    width: 100%
    text-align: center