// CELL-COLUMN STYLE

.cell-column
  padding: 15px 5px 5px

  // VALUE

  .cell_value
    margin-bottom: 10px

  // INPUT

  .cell_input
    border-radius: 5px
    background: $dark-12


columnCellStyle(
  $cellSize: 70px,
  $cellGap: 8px,

  $headingSize: 12px,
  $headingGap: 5px,
  $headingIconSize: $headingSize,

  $valuePrimarySize: 22px,
  $valueSecondarySize: 14px,
)