// ------------------
// LIST HEADER LAYOUT
// ------------------

.listHeader
  // grid
  display: grid
  grid-auto-flow: column
  justify-content: space-between
  align-items: center


// -----------------
// LIST HEADER STYLE
// -----------------

.listHeader
  max-height: 50px

  .listItem_title
    med-14()