// CELL-ROW STYLE

.cell-row
  height: 50px
  gap: 5px
  padding: 15px

  // HEADING
  
  .cell_heading
    font-size: 12px
    gap: 5px
  
  .cell_icon
    font-size: 14px

  // VALUE
  
  .cell_value 
    gap: 5px

  .cell_value_primary
    font-size: 14px
    font-weight: $w-semi
  
  
