// AUTH SECTION: HEADER LAYOUT

.auth_header
  height: max-content
  // flex
  display: flex
  align-items: center
  justify-content: space-between


// AUTH SECTION: HEADER STYLE

.auth_header
  button
    margin-top: 5px
    margin-right: 5px


.auth_logo
  height: 35px
