// AUTH LAYOUT
  
.auth
  // grid
  display: grid
  grid-template-rows: max-content 1fr max-content

  
// AUTH STYLE

.auth
  gap: 60px !important
  padding: 40px 10px !important
  background: 
    linear-gradient(
      alpha($dark-05, .9) 0%, 
      alpha($dark-05, .3) 50%, 
      $dark-05 90%
    ),
    url('~/assets/images/authBackground.jpg') 
  background-size: cover
  background-position: center




