// AUTH LAYOUT
  
.auth
  // grid
  display: grid
  grid-template-rows: max-content 1fr max-content


// HEADER

.auth_header
  height: max-content
  // flex
  display: flex
  align-items: center
  justify-content: space-between


// TEXT

.auth_text
  // grid
  display: grid
  grid-auto-rows: max-content
  align-content: end


.auth_title,
.auth_subtitle
  text-align: center


// FOOTER

.auth_footer
  // grid
  display: grid
  grid-auto-rows: max-content
  justify-items: center