// AUTH STYLE

.auth
  gap: 60px 
  padding: 50px 10px 40px
  background: 
    linear-gradient(
      alpha($dark-05, .9) 0%, 
      alpha($dark-05, .3) 50%, 
      $dark-05 90%
    ),
    url('~/assets/images/authBackground.jpg') 
  background-size: cover
  background-position: center

// HEADER

.auth_header
  button
    margin-top: 5px
    margin-right: 5px


.auth_logo
  height: 35px


// TEXT

.auth_text
  gap: 15px


.auth_title
  font-weight: $w-bold
  font-size: 30px
  line-height: 1.2
  color: white


.auth_subtitle
  color: $light-80
  font-weight: $w-med
  font-size: 16px
  line-height: 1.4


// FOOTER

.auth_footer
  gap: 20px