med-18()
  font-size: 18px
  line-height: 100%
  font-weight: $w-med

med-16()
  font-size: 16px
  line-height: 100%
  font-weight: $w-med

med-14()
  font-size: 14px
  line-height: 100%
  font-weight: $w-med

med-12()
  font-size: 12px
  line-height: 100%
  font-weight: $w-med

med-12-i()
  font-size: 12px
  line-height: 100%
  font-weight: $w-med
  font-style: italic

.med-18
  med-18()

.med-16
  med-16()

.med-14
  med-14()

.med-12
  med-12()

.med-12-i
  med-12-i()
