text-16()
  font-size: 16px
  line-height: 140%
  font-weight: $w-med
  overflow-wrap: anywhere

text-14()
  font-size: 14px
  line-height: 140%
  font-weight: $w-med
  overflow-wrap: anywhere

text-12()
  font-size: 12px
  line-height: 140%
  font-weight: $w-med
  overflow-wrap: anywhere

text-12-i()
  font-size: 12px
  line-height: 140%
  font-weight: $w-med
  font-style: italic
  overflow-wrap: anywhere

.text-16
  text-16()

.text-14
  text-14()

.text-12
  text-12()

.text-12-i
  text-12-i()