.tabbar
  height: 60px
  padding: 10px
  background: $bg-tabbar
  backdrop-filter: blur(30px)
  // grid
  gap: 10px
  display: grid
  grid-auto-flow: column
  grid-auto-columns: 1fr
  justify-content: end
  overflow: hidden


// MOZILLA FIX


@-moz-document url-prefix()

  .tabbar 
    background: $bg-tabbar-alt
