// HEADER CHILD: BUTTON LAYOUT
  
.header_button
  aspect-ratio: 1/1
  border-radius: 100%
  margin-left: auto
  // grid
  display: grid
  place-items: center
  // icon
  icon-4R()


// HEADER CHILD: BUTTON STYLE

.header_button
  height: 25px
  background: $dark-15
  // icon
  font-size: 10px
  color: $light-50