// HEADER CHILD: TEXT LAYOUT

.header_text
  color: inherit
  text-overflow()


.header_icon
  color: inherit


// HEADER CHILD: TEXT STYLE

.header_text
  semi-20()


.header_icon
  font-size: 18px
  icon-4R()