// CELL ROW LAYOUT 
  
.cell-row
  // grid
  align-items: center

  .cell_heading
    flex-grow: 1


// CELL ROW STYLE

.cell-row
  height: 50px
  gap: 5px
  padding: 15px

  .cell_icon
    font-size: 14px

  .cell_value-primary
    med-14()
  
  
