// CELL TYPE: COLUMN LAYOUT

.cell-column
  // display 
  flex-direction: column
  justify-content: center
  align-items: center

// CELL TYPE: COLUMN STYLE

.cell-column
  height: 70px
  padding: 5px 