// CELL INPUT LAYOUT 

.cell-input 
  // display 
  flex-direction: column
  justify-content: center
  align-items: center

  .cell_heading
    flex-shrink: 0


// CELL INPUT STYLE

.cell-input
  height: 80px
  padding: 15px 5px 5px
