// CARD LAYOUT
  
.card
  overflow: hidden
  // flex
  display: flex
  align-items: center

  .card_picture,
  .card_icon
    flex-shrink: 0


// CARD STYLE

.card
  min-height: 50px
  border-radius: 10px
  background: $block-background
