.card
  overflow: hidden
  // flex
  display: flex
  align-items: center

  .card_picture,
  .card_icon
    flex-shrink: 0


// CHILDS

.card_picture
  overflow: hidden
  aspect-ratio 1
  height: 100%

  img // picture
    width: 100%
    height: 100%
    object-fit: cover
    object-position: center


// TEXT

.card_text
  overflow: hidden
  // flex
  flex-grow: 1
  display: flex
  flex-direction: column


.card_title,
.card_subtitl
  flex-grow: 1
  text-overflow()


.card_icon
  icon-4R()