.card
  min-height: 50px
  border-radius: 10px
  background: $dark-15


// CHILDS

.card_picture
  border-radius: 5px
  background: $dark-12


// TEXT

.card_title
  color: $light-70


.card_subtitle
  color: $light-60

  
.card_icon
  color: $light-50

