// SCROLL ELEMENTS

.scrollSettings
  .title
    height: max-content
    padding: 0 5px
    color: $light-70
    med-12()

  // list containers
  
  .row
    gap: 1px
    // grid
    display: grid
    grid-auto-flow: column
    grid-auto-columns: 1fr

  .list,
  .list_dropdown
    border-radius: 5px

  // list item

  .listItem
    min-height: 25px
    padding: 2.5px
    padding-left: 10px
    background: $dark-18
    overflow: hidden

    &_title
      font-size: 10px
      font-weight: $weight-med

  // controls

  .toggler
    font-size: 8px

  .checkbox,
  .counter
    gap: 2.5px
    border-radius: 2.5px

  .counter_input
    semi-10()
