// SCROLL SETTINGS FLOATING MENU
  
.scrollSettings
  width: 225px
  gap: 10px
  padding: 25px 5px 10px
  // styling
  border-radius: 10px
  background: $body-foreground
  // position
  position: fixed
  z-index: 100
  bottom: 15px
  right: 15px
  // grid
  display: grid
  grid-auto-rows: max-content