// CELL TYPE: ROW LAYOUT 
  
.cell-row
  // flex
  display: flex
  align-items: center
  flex-direction: row

  // heading

  .cell_heading
    flex-grow: 1


// CELL TYPE: ROW STYLE

.cell-row
  height: 50px
  gap: 5px
  padding: 15px

  // heading
  
  .cell_heading
    font-size: 12px
    gap: 5px
  
  .cell_icon
    font-size: 14px

  // value
  
  .cell_value 
    gap: 5px

  .cell_value_primary
    font-size: 14px
    font-weight: $w-semi
  
  
