// HEADER LAYOUT

.header
  overflow: hidden
  // flex
  display: flex
  align-items: center
    

// CHILDS

.header_text
  color: inherit
  text-overflow()


.header_icon
  color: inherit


.header_button
  aspect-ratio: 1/1
  border-radius: 100%
  margin-left: auto
  // grid
  display: grid
  place-items: center
  // icon
  icon-4R()

