// HEADER STYLE
  
.header
  gap: 10px
  color: $light-80


// CHILDS

.header_text
  semi-20()


.header_icon
  font-size: 18px
  icon-4R()


.header_button
  height: 25px
  background: $dark-15
  // icon
  font-size: 10px
  color: $light-50