// CELL CHILD: HEADING LAYOUT
 
.cell_heading
  width: 100%
  // flex
  display: flex
  align-items: center


.cell_title
  font-size: inherit
  color: inherit
  line-height: 1.2
  text-overflow()


.cell_icon
  font-size: inherit
  color: inherit
  line-height: 1
  icon-4R()


// CELL CHILD: HEADING STYLE  

.cell_heading
  font-weight: $w-semi
  color $light-70
