// CELL CHILD: VALUE LAYOUT

.cell_value
  // flex
  display: flex
  align-items: flex-end

  &-marked
    align-items: center

  // childs
  &_primary
    line-height: 1

  &_secondary
    line-height: 1.15

// mark

.cell_mark
  icon-4R()
  
  &::before
    transitions(color, ,2s)


// CELL CHILD: VALUE STYLE

.cell_value_primary,
.cell_input
  font-weight: $w-bold
  color: $light-80


.cell_value_secondary
  font-weight: $w-semi
  color: $light-60

// mark

.cell_mark
  font-size: 10px
  color: $dark-12

  &::before
    content: "star-alt"

  // STATES

  &-proficiency
    color: $light-80

  &-expertise::before
    content: "crown"


