// TEMP LAYOUT

body
  background: #000
  font-family: 'Inter', sans-serif
  // scrollbar 
  &::-webkit-scrollbar
    width: 5px
  &::-webkit-scrollbar-track
    margin-block: 15px
  &::-webkit-scrollbar-thumb
    border-radius: 10px 0 0 10px
    background-color: transparentize($dark-10, .2)


.viewport
  // sizing
  max-width: 450px
  margin: 0 auto
  // styling
  background: $dark-05
  // grid
  row-gap: 30px
  display: grid
  grid-auto-rows: max-content


.page
  padding: 40px 10px 80px
  // position
  position: static
  z-index: 0


.tabbar
  // sizing
  width: stretch
  max-width: inherit
  // position
  position: fixed
  z-index: 1
  bottom: 0


.sheet
  // sizing
  width: stretch
  max-width: inherit
  // position
  position: fixed
  z-index: 2
  bottom: 0


// TEMPORARY


.sheet_tempBlock
  height: 100px
  background: $dark-18
  border-radius: 10px

.charsheet
  gap: 20px
  display: flex
  flex-direction: column
  section
    gap: 15px
    display: flex
    flex-direction: column