// TEMP LAYOUT
  
body
  background: #000
  font-family: 'Inter', sans-serif
  // flex
  display: flex
  justify-content: center

#__nuxt
  background: $black-05
  height: 100vh
  width: 428px
  padding: 50px 10px 0