// TABBAR CHILD: BUTTON LAYOUT

.tabbar_button,
.tabbar_counter
  // grid
  display: grid
  justify-items: center

  i // icon
    // grid
    display: grid
    place-items: center


.tabbar_button
  i
    aspect-ratio: 1/1
    icon-4R()

  
.tabbar_counter
  i
    aspect-ratio: 9/5

  
// TABBAR CHILD: BUTTON STYLE

.tabbar_button,
.tabbar_counter
  gap: 5px

  p // text
    color: $light-80
    semi-10()

  i // icon
    height: 25px
    border-radius: 25px
    background: $light-80
    color: black
    mix-blend-mode: screen


.tabbar_button
  // static
  opacity: .4
  // active
  &-active
    opacity: 1


.tabbar_counter
  i
    semi-12()