// CELL LAYOUT

.cell
  overflow: hidden
  // display
  display: flex

// CELL STYLE
  
.cell 
  gap: 10px
  border-radius: 10px
  background: $block-background


button.cell // click action
  &:active
    background: $block-highlight
