// CELL STYLE
  
.cell 
  border-radius: 10px
  background: $dark-15


// HEADING

.cell_heading
  font-weight: $w-semi
  color $light-70


// VALUE 

.cell_value_primary,
.cell_input
  font-weight: $w-bold
  color: $light-80


.cell_value_secondary
  font-weight: $w-semi
  color: $light-60


// MARK

.cell_mark
  font-size: 10px
  color: $dark-12

  &::before
    content: "star-alt"

  // STATES

  &-proficiency
    color: $light-80

  &-expertise::before
    content: "crown"


