// LAYOUT

.checkbox
  aspect-ratio: 1
  // grid
  display: grid
  place-items: center
  // animation
  transitions(background, .2s)

  &::before // icon
    font-size: 0
    font-family: "4R-icons"
    color: inherit
    // animation
    transitions(font-size \, color, .2s)


// STYLE

.checkbox
  height: 20px
  border-radius: 5px
  background: $dark-12
  color: $accent-green

  &::before // icon
    content: 'check'

  // STATE: ACTIVE 

  &-active 
    background: alpha(@color, .2)
    
  &-active::before // icon
    font-size: 10px



