// LAYOUT

.checkbox
  aspect-ratio: 1
  // grid
  display: grid
  place-items: center
  // animation
  transition(background, .2s)

  &::before // icon
    font-size: 0
    font-family: "4R-icons"
    color: inherit
    // animation
    transition(font-size \, color, .2s)

