// STYLE

.checkbox
  height: 20px
  border-radius: 5px
  background: $dark-12
  color: $accent-green

  &::before // icon
    content: 'check'

  // STATE: ACTIVE 

  &-active 
    background: alpha(@color, .2)
    
  &-active::before // icon
    font-size: 10px


// TYPE: FAILED

.checkbox-failed
  color: $accent-red

  &::before // icon
    content: 'cross'

  // ACTIVE STATE 

  &.checkbox-active 
    background: alpha(@color, .2)


// TYPE: ROUNDED 

.checkbox-rounded
  border-radius: 100%