// SHEET CHILD: HEADER LAYOUT 

.sheet .header 
  position: sticky
  top: 0
  z-index: 1

// SHEET CHILD: HEADER STYLE

.sheet .header
  padding: 40px 15px 15px
  background: linear-gradient(
                alpha($dark-10, 1) 30%, 
                alpha($dark-10, 0) 100%
              )