// SHEET CHILD COMPONENTS
  
.sheet

  .card,
  .cell,
  .header_button
    background: $dark-18
  
  // controls
  .switch,
  .checkBox,
  .radioButton,
  .counter_input
    background: $dark-12
  
  // fields
  .textarea,
  .input
    background: $dark-18
    box-shadow: $dark-18 0 0 0 1px inset 

  .textarea-focused,
  .input-focused
    background: $dark-15

  // list items
  .ListHeader,
  .listItem,
  .listText
    background: $dark-18

  .listItem-active
    background: $dark-20