// SHEET LAYOUT

.sheet
  overflow: overlay
  // position 
  position: absolute
  bottom: 0
  // sizing
  height: max-content
  max-height: stretch
  width: stretch  
  max-width: inherit
  // grid
  display: grid
  grid-auto-rows: max-content

// header

.sheet > .header
  // position
  position: sticky
  top: 0
  z-index: 1

// footer

.sheet > .footer
  position: sticky
  bottom: 0
  z-index: 1


// SHEET STYLE

.sheet
  margin-top: 40px
  background: $body-background
  border-radius: 20px 20px 0 0 

  // state: hidden
  &-hidden
    opacity: 0

// header

.sheet > .header 
  padding: 40px 15px 20px
  background: $header-background

// footer

.sheet > .footer 
  padding: 20px 15px 20px
  background: $footer-background