// TYPE: FILLED
  
.button-filled
  width: 100%
  height: 50px
  gap: 10px
  padding: 0 15px
  border-radius: 10px


// COLORS

.button-white
  @extend .button-filled
  // text
  color: black
  mix-blend-mode: screen
  semi-16()
  // styling
  background: $light-80


.button-red
  @extend .button-filled
  // text
  color: $accent-red
  med-16()
  // styling
  background: alpha(@color, .2)


.button-blue
  @extend .button-filled
  // text
  color: $accent-blue
  med-16()
  // styling
  background: alpha(@color, .2)


.button-green
  @extend .button-filled
  // text
  color: $accent-green
  med-16()
  // styling
  background: alpha(@color, .2)