// AVATAR LAYOUT

.avatar,
.avatar_clickable
  // grid
  display: grid
  justify-items: center
  grid-auto-rows: max-content

  
.avatar_clickable
  cursor: pointer


// AVATAR STYLE

.avatar,
.avatar_clickable
  gap: 10px



