// AVATAR LAYOUT

.avatar
  // grid
  display: grid
  justify-items: center
  grid-auto-rows: max-content


// PICTURE

.avatar_picture
  aspect-ratio: 1
  overflow: hidden

  img
    object-fit: cover
    width: 100%
    height: 100%

  
// TEXT

.avatar_title
  color: $light-80
  semi-20()


.avatar_subtitle
  color: $light-50
  med-14()
