// MODAL LAYOUT

.modal
  // sizing
  width: stretch
  max-width: inherit
  height: stretch
  // position
  position: fixed
  z-index: 2
  bottom: 0
  // animation
  transitions(background, .4s)


// MODAL STYLE

.modal
  background: alpha(#000, .6)

  // STATE: HIDDEN  

  &-hidden 
    background: alpha(#000, .0)