// --------------------------
// LIST ITEM PARAGRAPH LAYUOT
// --------------------------

.listItem_paragraph
  // flex
  display: flex
  align-items: center


// -------------------------
// LIST ITEM PARAGRAPH STYLE
// -------------------------

.listItem_paragraph
  min-height: 20px
  // text
  color: $light-60
  text-14()