// CELL HEADING LAYOUT
 
.cell_heading
  max-width: stretch
  overflow: hidden
  // flex
  display: flex
  align-items: center


.cell_title
  font-size: inherit
  font-weight: inherit
  color: inherit
  line-height: 1.2
  Text-Overflow()


.cell_icon
  font-size: inherit
  color: inherit
  line-height: 1
  Icon-Font('4R-icons')


// CELL HEADING STYLE  

.cell_heading
  gap: 5px
  semi-12()

.cell_title
  color: $text-secondary

.cell_icon
  color: $text-primary
