// CELL VALUE LAYOUT

.cell_values
  // flex
  display: flex
  align-items: flex-end

.cell_value
  &-primary
    line-height: 1

  &-secondary
    line-height: 1.15 !important


// CELL VALUE STYLE

.cell_value
  &-primary
    bold-20()
    color: $text-primary

  &-secondary
    semi-14()
    color: $text-paragraph

