// CELL INPUT LAYOUT

.cell_input
  height: stretch
  width: stretch
  text-align: center
  pointer-events: none

// CELL INPUT STYLE

.cell_input
  border-radius: 5px
  background: $block-foreground
  // text
  bold-20()
  color: $text-primary

  &::placeholder
   color: $text-label 