// LIST CONTAINER LAYOUT

.list,
.list_group,
.list_stack,
.list_dropdown
  overflow: hidden
  // grid
  display: grid
  grid-auto-rows: max-content


// LIST CONTAINER STYLES

.list
  gap: 10px
  // childs border radius
  > .listItem,
  > .list_stack,
  > .list_dropdown
    border-radius: 10px

  
.list_group
  gap: 5px
  // childs border radius
  > .list_stack,
  > .list_dropdown
    border-radius: 5px


.list_stack,
.list_dropdown
  gap: 1px
  background: $block-foreground