// LIST CONTAINER LAYOUT

.list,
.list_group,
.list_stack
  overflow: hidden
  // grid
  display: grid
  grid-auto-rows: max-content


// LIST CONTAINER STYLES

.list
  gap: 10px

  > .listItem
    border-radius: 10px


.list_group
  gap: 5px
  border-radius: 10px

  > .list_stack
    border-radius: 5px

  > .listItem
    border-radius: 10px


.list_stack
  gap: 1px
  border-radius: 10px

