// ------------------
// LIST TOGGLE LAYOUT
// ------------------

.listItem_toggle
  icon-4R()
  transitions(transform, .2s)


// -----------------
// LIST TOGGLE STYLE
// -----------------

.listItem_toggle
  color: $light-50
  font-size: 12px