// ----------------------
// LIST ITEM TITLE LAYOUT
// ----------------------

.listItem_title
  Text-Overflow()

.listItem_icon
  Icon-Font('4R-icons')


// ---------------------
// LIST ITEM TITLE STYLE
// ---------------------

.listItem_title
  color: $text-secondary
  med-16()

.listItem_icon
  font-size: 12px
  color: $text-secondary

.listItem_subtitle
  color: $text-label
  med-12-i()