// ----------------------
// LIST ITEM TITLE LAYOUT
// ----------------------

.listItem_title
  text-overflow()


// ---------------------
// LIST ITEM TITLE STYLE
// ---------------------

.listItem_title
  color: $light-70
  med-16()