// ------------------------
// LIST ITEM HEADING LAYOUT
// ------------------------

.listItem_heading
  // grid
  display: grid
  grid-auto-flow: column
  align-items: center
  justify-content: space-between

  .left,
  .right
    display: grid
    grid-auto-flow: column
    align-items: center  


// -----------------------
// LIST ITEM HEADING STYLE
// -----------------------

.listItem_heading
  height: 20px
  gap: 15px

  .left
    gap: 5px
  
  .right
    gap: inherit