// ---------------------
// LIST ITEM HINT LAYOUT
// ---------------------
  
.listItem_hint
  // grid
  display: grid
  grid-auto-flow: column
  align-items: center

  i // icon
    Icon-Font('4R-icons')
  
// --------------------
// LIST ITEM HINT STYLE
// --------------------

.listItem_hint
  gap: 5px
  // text
  color: $text-label
  med-12()

  i
    font-size: 16px