// EXPERIENCE VALUES LAYOUT

.experience_values
  display: flex
  align-items: center
  justify-content: space-between

.experience_value
  text-overflow()
  
// EXPERIENCE VALUES STYLE

.experience_value
  color: $light-50
  med-14()