// EXPERIENCE PROGRESS LAYOUT

.experience_progress
  position: relative
  overflow: hidden


.experience_current
  position: absolute
  top: 0
  left: 0
  height: 100%


// EXPERIENCE PROGRESS STYLE 
  
.experience_progress
  height: 5px
  border-radius: 5px
  background: $dark-10


.experience_current
  background: $gold