// EXPERIENCE VALUES LAYOUT

.experience_values
  display: flex
  align-items: center
  justify-content: space-between

.experience_value
  Text-Overflow()
  
// EXPERIENCE VALUES STYLE

.experience_value
  color: $text-label
  med-14()