// TABBAR LAYOUT

.tabbar
  overflow: hidden
  // grid
  display: grid
  grid-auto-flow: column
  grid-auto-columns: 1fr

// TABBAR STYLE

.tabbar
  gap: 10px
  height: 60px
  padding: 10px
  background: $tabbar-background
  backdrop-filter: blur(20px) saturate(200%)