.header
  height: 30px
  // grid
  display: grid
  align-items: center
  grid-template-columns: 1fr max-content

.header-sheet
  height: 25px
  // 
  .header_name
    @include bold-20
  // 
  .header_button
    height: 25px
    font-size: 11px
    background: $gray-18

// childs

.header_name
  color: $white-80
  @include bold-22

.header_button
  height: 30px
  aspect-ratio: 1/1
  border-radius: 100%
  background: $dark-15
  // grid
  display: grid
  place-items: center
  // icon
  font-size: 14px
  color: $dark-50
  @include icon-4R