// dark colors
  
.color-dark-05
  color: $dark-05

.color-dark-10
  color: $dark-10

.color-dark-12
  color: $dark-12

.color-dark-15
  color: $dark-15

.color-dark-18
  color: $dark-18

.color-dark-20
  color: $dark-20

// light colors

.color-light-80
  color: $light-80

.color-light-70
  color: $light-70

.color-light-60
  color: $light-60

.color-light-50
  color: $light-50

// accent colors

.color-red 
  color: $accent-red

.color-orange
  color: $accent-orange

.color-green
  color: $accent-green

.color-blue
  color: $accent-blue

// abilities

.color-strength  
  color: $strength

.color-dexterity
  color: $dexterity

.color-constitution
  color: $constitution

.color-intelligence
  color: $intelligence

.color-wisdom
  color: $wisdom

.color-charisma
  color: $charisma

// coins

.color-copper
  color: $copper

.color-silver
  color: $silver

.color-electrum
  color: $electrum

.color-gold
  color: $gold

.color-platinum 
  color: $platinum 

