// bold
  
bold-20()
  font-size: 20px
  line-height: 100%
  font-weight: $weight-bold 

bold-18()
  font-size: 18px
  line-height: 100%
  font-weight: $weight-bold 

// semibold

semi-20()
  font-size: 20px
  line-height: 100%
  font-weight: $weight-semi

semi-18()
  font-size: 18px
  line-height: 100%
  font-weight: $weight-semi

semi-16()
  font-size: 16px
  line-height: 100%
  font-weight: $weight-semi

semi-14()
  font-size: 14px
  line-height: 100%
  font-weight: $weight-semi

semi-14-i()
  font-size: 14px
  line-height: 100%
  font-weight: $weight-semi
  font-style: italic

semi-12()
  font-size: 12px
  line-height: 100%
  font-weight: $weight-semi

semi-10()
  font-size: 10px
  line-height: 100%
  font-weight: $weight-semi

// medium

med-18()
  font-size: 18px
  line-height: 100%
  font-weight: $weight-med

med-16()
  font-size: 16px
  line-height: 100%
  font-weight: $weight-med

med-14()
  font-size: 14px
  line-height: 100%
  font-weight: $weight-med

med-12()
  font-size: 12px
  line-height: 100%
  font-weight: $weight-med

med-12-i()
  font-size: 12px
  line-height: 100%
  font-weight: $weight-med
  font-style: italic

// text

text-16()
  font-size: 16px
  line-height: 140%
  font-weight: $weight-med
  overflow-wrap: anywhere

text-14()
  font-size: 14px
  line-height: 140%
  font-weight: $weight-med
  overflow-wrap: anywhere

text-12()
  font-size: 12px
  line-height: 140%
  font-weight: $weight-med
  overflow-wrap: anywhere

text-12-i()
  font-size: 12px
  line-height: 140%
  font-weight: $weight-med
  font-style: italic
  overflow-wrap: anywhere
