
// FONT WEIGHT

$w-bold = 700
$w-semi = 600
$w-med = 500
  
// BACKGROUND COLORS

$dark-05 = hsb(0, 0, 5)
$dark-10 = hsb(0, 0, 10)
$dark-12 = hsb(0, 0, 12)
$dark-15 = hsb(0, 0, 15)
$dark-18 = hsb(0, 0, 18)
$dark-20 = hsb(0, 0, 20)

$bg-sheet = hsb(0, 0, 0, .6)
$bg-tabbar = hsb(0, 0, 8, .8)
$bg-tabbar-alt = hsb(0, 0, 8)

// TEXT COLORS

$light-80 = hsb(0, 0, 80)
$light-70 = hsb(0, 0, 70)
$light-60 = hsb(0, 0, 60)
$light-50 = hsb(0, 0, 50)

// ACCENT

$accent-red = hsb(360, 60, 100)
$accent-orange = hsb(30, 60, 100)
$accent-green = hsb(150, 60, 90)
$accent-blue = hsb(220, 60, 100)

// ABILITIES

$strength = hsb(355, 40, 80)
$dexterity = hsb(30, 40, 80)
$constitution = hsb(60, 40, 80)
$intelligence = hsb(150, 40, 80)
$wisdom = hsb(240, 40, 80)
$charisma = hsb(290, 40, 80)

// COINS

$copper = hsb(10, 30, 80)
$silver = hsb(0, 0, 80)
$electrum = hsb(50, 15, 80)
$gold = hsb(40, 30, 80)
$platinum = hsb(220, 20, 80) 
