// LAYOUT
  
.radiobutton
  aspect-ratio: 1
  border-radius: 100%
  // grid
  display: grid
  place-items: center
  // animation
  transition(background, .2s)
  
  &::before // dot
    content: ""
    height: 0px
    aspect-ratio: 1
    border-radius: 100%
    transition(height, .2s)