// LAYOUT
  
.radiobutton
  aspect-ratio: 1
  border-radius: 100%
  // grid
  display: grid
  place-items: center
  // animation
  Transition(background, .2s)
  
  &::before // dot
    content: ""
    height: 0px
    aspect-ratio: 1
    border-radius: 100%
    Transition(height, .2s)

  
// STYLE

.radiobutton
  $active-color = $accent-blue

  //state: default
  height: 20px
  background: $block-foreground

  &::before // dot 
    background: $active-color

  //state: active
  &-active
    background: alpha($active-color, .2)

  &-active::before
    height: 10px
