// STYLE

.radiobutton
  $activeColor = $accent-blue

  // STATE: DEFAULT 

  height: 20px
  background: $dark-12

  &::before // dot 
    background: $activeColor

  // STATE: ACTIVE

  &-active
    background: alpha($activeColor, .2)

  &-active::before
    height: 10px
